!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .row
      %nav.top-bar.column{"data-topbar" => ""}
        %ul.title-area
          %li.name
            %h1
              %a{:href => "/"}
                %i.fi-play-video
                ComputerStore
          %li.toggle-topbar
            %a{:href => "#"}
              %span Menu
        %section.top-bar-section
          %ul.right
            - if signed_in?
              %li= link_to current_user.email, edit_user_registration_path
              %li= link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Register", new_user_registration_path
              %li= link_to "Login", new_user_session_path
    - if notice.present? || alert.present?
      .row
        - is_alert = alert.present? ? "alert" : ""
        %div{:class => "alert-box #{is_alert}", "data-alert" => ""}
          = notice || alert
          %a.close{:href => "#"} ×
    #main-content.row.full-min-height
      = yield
    %footer.row
      .large-12.columns
        %hr/
        %p © ComputerStore 2014
    = javascript_include_tag "application"